<% provide(:title, "About") %>

<h1>About</h1>
<p> Born in 19XX in XX, NY, XX found a passion and talent for art early in life. Through elementary to high school, XX remained 
enthusiastic about art, constantly improving her portraiture and figure drawing skills</p>
