<% provide(:title, "Drawings") %>

<h1>Drawings</h1>

<div id="links">
    <a href="images/drawing-dog.jpg" title="Banana" data-gallery>
        <%= image_tag("drawing-dog.jpg", size: "40x60", alt: "Wiif")%>
    </a>
    <a href="images/portrait-bro.jpg" title="Apple" data-gallery>
        <%= image_tag("portrait-bro.jpg", size: "40x60", alt: "Wiif")%>
    </a>
    <a href="images/portrait-lass.jpg" title="Orange" data-gallery>
        <%= image_tag("portrait-lass.jpg", size: "40x60", alt: "Wiif")%>
    </a>
</div>
