<% provide(:title, "Portraits") %>

<h1>Portraits</h1>

<div id="links">
    <a href="images/drawing-dog.jpg" title="Dog" data-gallery>
        <%= image_tag("drawing-dog.jpg", size: "40x60", alt: "Wiif")%>
    </a>
    <a href="images/portrait-bro.jpg" title="Boy" data-gallery>
        <%= image_tag("portrait-bro.jpg", size: "40x60", alt: "Wiif")%>
    </a>
    <a href="images/portrait-lass.jpg" title="Girl" data-gallery>
        <%= image_tag("portrait-lass.jpg", size: "40x60", alt: "Wiif")%>
    </a>
</div>