@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

html h1 {
  font-size: 700%;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
	line-height: 1.0;
	text-align: left;
}


body {
	text-align: left;
	padding-top: 60px;
  background: #0099FF;
}

html p {
	font-size: 210%;
	letter-spacing: -1px;
	line-height: 0.5;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

html a:link {
  font-size: 210%;
  color: #000000;
}

html a:hover {
  font-size: 210%;
  color: red; 
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
