@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  	font-size: 4em;
  	letter-spacing: -1.5px;
  	margin-bottom: 30px;
	line-height: 1.0;
	text-align: left;
}

body {
	text-align: left;
	padding-top: 60px;
}

p {
	font-size: 1em;
	letter-spacing: -1px;
	line-height: 0.5
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}