@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  	font-size: 250%;
  	letter-spacing: -1.5px;
  	margin-bottom: 30px;
	line-height: 1.0;
	text-align: left;
}

body {
	text-align: left;
	padding-top: 60px;
  	background: #0099FF;
}

a {
	color: #000000;
}

p {
	font-size: 1em;
	letter-spacing: -1px;
	line-height: 0.5
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

html body { background: #0099FF; }

.slides {
	background: #0099FF;
}

.navbar {
}

.id {
	background: #0099FF;
}